html body
{
    background-color: #6C7A89;
    padding: 0px;
    margin: 0px;
}

#selectionCanvas
{
    display: none;
}

#canvasHolder
{
    padding: 0px;
    margin: 0px;

    background-image: url('Icons/background.png');
    position: fixed;

    width: 800px;
    height: 600px;
}

.canvas
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#uiCanvas
{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
}

.tool-menu
{
    height: 50px;
    width: 100%;

    position: fixed;
    left: 0px;
    bottom: 0px;

    background-color: white;
}

.toolButton
{
    display:block;
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: 3px 3px 2px black;
}
.toolButton:hover
{
    background-color: lightgray;
}

#toolMenuButton
{
    margin: 0px;
}

header, footer
{
    height: 5%;
    width: 100%;
    
    padding: 0px;
    margin: 0px;
}

header *, footer *
{
    display: block;
    float: left;
    
    height: 100%;


}