body
{
    background-color: #474451;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

body,h1,h2,h3,h4,h5,h6
{
    font-family: "Lato", sans-serif;
}

button, a, input[type=file]
{
    display: inline-block;
    height: 60px;
    box-sizing: border-box;
    border: none;
    color: white;
    background-color: transparent;
    padding: 5px;
    margin: 0px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

button:hover, a:hover, input[type=file]:hover
{
    display: inline-block;
    height: 60px;
    box-sizing: border-box;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
    margin: 0px;
}

.menu button:hover, a:hover, input[type=file]:hover
{
    display: inline-block;
    height: 60px;
    box-sizing: border-box;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: #3498db;
    padding: 5px;
    margin: 0px;
}
#colorPicker
{
    width: 60px;
}

#root
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
}

#selectionCanvas
{
    display: none;
}

#canvasHolder
{
    padding: 0px;
    margin: 0px;

    background-image: url('Icons/background.png');
    position: fixed;

    width: 800px;
    height: 600px;
}

.canvas
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#uiCanvas
{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
}

.menu
{
    width: 100%;
    height: 60px;

    position: fixed;
    left: 0px;
    bottom: 0px;

    background-color: #474451;
    /*background-image: url('Icons/fabric_plaid.png');*/
    box-shadow: -6px 0px 5px black;
    border-top: 1px solid #3498db;
    padding: 0px;
    
    z-index: 2;
}
.toolMenuButtonContainer
{
    width: 100px;
    height: 100px;

    position: absolute;
    left: calc(50% - 50px);
    bottom: 10px;

    background-color: #474451;
    
    border-radius: 50px;
    z-index: 3;
}

#toolMenuButton
{
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;

    background-color: white;
    background-image: url('Icons/Hand.png');
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 50%;
    border: 1px solid #3498db;
    z-index: 4;
}

.toolButtonLoader
{
    display: none;

    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    top: -100px;

    border: 16px solid #474451; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50px;

    animation: spin 1.3s linear infinite;

    z-index: 2;
}

input[type=file]
{ 
    background-color: transparent;
    width: 60px;
    display: none;
}

#toolMenu
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    overflow: hidden;
    display: none;
}

#toolMenu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#toolMenu > div > ul > li > ul > li
{
    display: inline-block;
}

#toolMenu .w3-modal-content
{
    background-color:transparent;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-left: 30%;
}

.toolButton
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 3px #5b5b5b;
    opacity: 1;
}
.toolButton:hover
{
    background-color: lightgray;
}

header, footer
{
    height: 5%;
    width: 100%;
    
    padding: 0px;
    margin: 0px;
}

header *, footer *
{
    display: block;
    float: left;
    
    height: 100%;


}
.blur
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding:0px;
    margin: 0px;
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -ms-filter: blur(12px);
    -o-filter: blur(12px);
    filter: blur(12px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}